{% extends 'base.html.twig' %}

{% block body %}
    <h2><i class="fa fa-graduation-cap"></i> Lista uczniów</h2>

    <div class="searchbox col-xs-2">
        <form action="{{ path('student_index') }}" method="get">
            <div class="input-group">
            <input name="filter" type="text" placeholder="Filtruj" class="form-control">
                <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <table id="datatbl" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Nazwisko', 'student.surname') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Imię', 'student.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Adres', 'student.address') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Kod pocztowy', 'student.postalcode') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Miasto', 'student.city') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'PESEL', 'student.pesel') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Miejsce urodzenia', 'student.birthplace') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Data urodzenia', 'student.birthdate') }}</th>
                <!--<th>Początek</th>
                <th>Koniec</th>-->
                <th>{{ knp_pagination_sortable(pagination, 'Telefon', 'student.phone') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'E-mail', 'student.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Aktywność', 'student.isactive') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'student.idstudent') }}</th>
                <th class="actionsColumn">Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for student in pagination %}

            <tr>
                <td><a href="{{ path('student_show', { 'id': student.idstudent }) }}">{{ student.surname }}</a></td>
                <td>{{ student.name }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.postalcode }}</td>
                <td>{{ student.city }}</td>
                <td>{{ student.pesel }}</td>
                <td>{{ student.birthplace }}</td>
                <td>{% if student.birthdate %}{{ student.birthdate|date('Y-m-d') }}{% endif %}</td>
                <!--
                <td>{% if student.begindate %}{{ student.begindate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if student.enddate %}{{ student.enddate|date('Y-m-d') }}{% endif %}</td>
                -->
                <td>{{ student.phone }}</td>
                <td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
                <td>{% if student.isactive == 0 %} Nie {% endif %} {% if student.isactive != 0 %} Tak {% endif %} <!-- {{ student.isactive }}--></td>
                <td>{{ student.idstudent }}</td>
                <td class="actionsColumn">

                            <a href="{{ path('student_show', { 'id': student.idstudent }) }}" title="Szczegóły" class="btn btn-default"><i class="fa fa-info-circle fa-lg"></i></a>

                            <a href="{{ path('student_edit', { 'id': student.idstudent }) }}" title="Edytuj" class="btn-default btn"><i class="fa fa-pencil-square fa-lg"></i></a>

                            <a href="{{ path('student_pdfst', { 'id': student.idstudent }) }}" title="Wizytówka PDF" class="btn btn-default"><i class="fa fa-id-card-o fa-lg"></i></a>

                        {% if is_granted('ROLE_TEACHER') == false %}

                            <a href="{{ path('student_zasw', { 'id': student.idstudent }) }}" title="Zaświadczenie" class="btn btn-default"><i class="fa fa-certificate"></i></a>

                            <a href="{{ path('student_show', { 'id': student.idstudent }) }}" title="Inne dokumenty" class="btn btn-default"><i class="fa fa-file-text-o"></i></a>

                        {% endif %}
                    </ul>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
<div class="counter">Łącznie obiektów: {{ pagination.getTotalItemCount }}</div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <ul  id="dataActions">
        <li>
            <a href="{{ path('student_new') }}" class="btn btn-primary"><i class="fa fa-plus-square fa-lg"></i> Dodaj nowego ucznia</a>
            <a href="{{ path('student_pdf') }}" class="btn btn-warning"><i class="fa fa-file-pdf-o fa-lg"></i> Generuj pdf</a>
            <a href="javascript:print()" class="btn btn-info"><i class="fa fa-print fa-lg"></i> Drukuj</a>
        </li>
    </ul>
{% endblock %}
