{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style type="text/css">
        input,.btn, i.fa, #sidebar, option, .actionsColumn, ul, ul li, #dataActions, .lou {display:none; !important}
        table {border: 1px solid black; !important}
        td {border: 1px solid black; !important}
        a {color: black;}
    </style>
{% endblock %}
{% block body %}
    <h2>Lista rodziców</h2>

    <table id="datatbl" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nazwisko</th>
                <th>Imię</th>
                <th>Adres</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Uczeń</th>
                <th class="actionsColumn">Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for studentparent in studentparents %}
            <tr>
                <td><a href="{{ path('studentparent_show', { 'id': studentparent.idstudentparent }) }}">{{ studentparent.parentsurname }}</a></td>
                <td>{{ studentparent.parentname }}</td>
                <td>{{ studentparent.parentaddress }}</td>
                <td>{{ studentparent.parentphone }}</td>
                <td>{{ studentparent.parentemail }}</td>
                <td>{{ studentparent.idstudent }}</td>
                <td class="actionsColumn">
                    <ul>
                        <li>
                            <a href="{{ path('studentparent_show', { 'id': studentparent.idstudentparent }) }}">Szczegóły</a>
                        </li>
                        <li>
                            <a href="{{ path('studentparent_edit', { 'id': studentparent.idstudentparent }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul  id="dataActions">
        <li>
            <a href="{{ path('studentparent_new') }}"  class="btn btn-default">Dodaj nowego rodzica</a>
        </li>
    </ul>
{% endblock %}
