{% extends 'base.html.twig' %}

{% block body %}
    <h2><i class="fa fa-address-book"></i> Lista pracowników</h2>
    <div class="searchbox col-xs-2">
        <form action="{{ path('employee_index') }}" method="get">
            <div class="input-group">
                <input name="filter" type="text" placeholder="Filtruj" class="form-control">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <table id="datatbl" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Nazwisko', 'employee.surname') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Imię', 'employee.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Tytuł', 'employee.title') }}</th>
                <!--<th>Rola</th>-->
                <th>{{ knp_pagination_sortable(pagination, 'Adres', 'employee.address') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Kod pocztowy', 'employee.postalcode') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Miasto', 'employee.city') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'E-mail', 'employee.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Aktywność', 'employee.isactive') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Wynagrodzenie', 'employee.salary') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Info', 'employee.info') }}</th>
                <!--<th>ID</th>-->
                <th class="actionsColumn">Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in pagination %}
            <tr>
                <td><a href="{{ path('employee_show', { 'id': employee.idemployee }) }}">{{ employee.surname }}</a></td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.title }}</td>
                <!--<td>{{ employee.role }}</td>-->
                <td>{{ employee.address }}</td>
                <td>{{ employee.postalcode }}</td>
                <td>{{ employee.city }}</td>
                <td><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
                <td>{% if employee.isactive == 0 %} Nie {% endif %} {% if employee.isactive != 0 %} Tak {% endif %} <!-- {{ employee.isactive }}--></td>
                <td>{{ employee.salary }} PLN</td>
                <td>{{ employee.info }}</td>
                <!--<td>{{ employee.idemployee }}</td>-->
                <td class="actionsColumn">

                            <a href="{{ path('employee_show', { 'id': employee.idemployee }) }}" title="Szczegóły" class="btn btn-default"><i class="fa fa-info-circle fa-lg"></i></a>

                            <a href="{{ path('employee_edit', { 'id': employee.idemployee }) }}" title="Edytuj" class="btn-default btn"><i class="fa fa-pencil-square fa-lg"></i></a>

                            <a href="{{ path('employee_pdfem', { 'id': employee.idemployee }) }}" title="Wizytówka PDF" class="btn btn-default"><i class="fa fa-id-card-o fa-lg"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="counter">Łącznie obiektów: {{ pagination.getTotalItemCount }}</div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <ul id="dataActions">
        <li>
            <a href="{{ path('employee_new') }}" class="btn btn-primary"><i class="fa fa-plus-square fa-lg"></i> Dodaj nowego pracownika</a>
            <a href="{{ path('employee_pdf') }}" class="btn btn-warning"><i class="fa fa-file-pdf-o fa-lg"></i> Generuj pdf</a>
            <a href="javascript:print()" class="btn btn-info"><i class="fa fa-print fa-lg"></i> Drukuj</a>
        </li>
    </ul>
{% endblock %}
